body {
  
}

.carousel-1 {
  background: url("../images/eddie.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.eddie {
  background: url("../images/eddie.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: auto;
}

.carousel-2 {
  background: url("../images/daize.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.daize {
  background: url("../images/daize.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: auto;
}

.carousel-3 {
  background: url("../images/john.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.john {
  background: url("../images/john.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: auto;
}

.section-1 {
  background: url("../images/headerbg.jpg");
  background-size: 100% 100%;
  background-position: center;
  height: 200px;
  font-family: 'Open Sans', sans-serif;
}
