@(message: String)

@Main("cjhobgood") {
   <div class="container">
     <div class="col-md-4">
       <div class="well">
         <div class="cjhobgood"></div>
       </div>
     </div>
     <div class="col-md-8">
       <div class="well">
         <h2>CJ Hobgood</h2>
           <p>Clifton James "C.J." Hobgood (born July 6, 1979 in Melbourne, Florida) is an Association of Surfing Professionals (ASP) World Championship surfer. C.J. has a twin brother, Damien Hobgood. They both compete in top-tier professional surfing events around the world.</p>
           <p>C.J. entered his first surfing contest in 1989 and made the Open Boys final. He placed second in a national competition the following year. He won several other championships and in 1998 he was selected as the model for the new National Scholastic Surfing Association logo. In 1999, CJ was the Association Surfer Professionals Rookie of the Year.[1] In 2001 he won the ASP World Championship. He currently resides in Satellite Beach, Florida with his wife and daughter, near his younger brother Travis, his younger sister Marissa, and his parents.</p>
           <p>Along with surfing, C.J. also plays tennis, and his filmography includes Noah's Ark, The Outsiders produced by Walkingonwater.org, Down the Barrel (2007), Inaugural Hobgood Challenge (2007), Somewhere, Anywhere, Everywhere. He has recently won the 2007 US Open of Surfing. He has also recently won the O'Neill World Cup of Surfing at Sunset Beach, Part of the Van's Triple Crown of Surfing Competition, in Hawaii in 2008.</p>
       </div>
     </div>
   </div>
}
