@(message: String)

@Main("Daize") {
   <div class="container">
      <div class="row">
        
        <div class="col-md-4">
          <div class="well">
            <div class="daize"></div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="well">
            <h1>Daize Shayna</h1>
            <p>The two time world champion longboard surfer was featured in Maxim and two issues of ReadyGo Magazine Japan in which she had 16 full-page color photos of her modelling alongside Britney Spears and others. She has also been featured in numerous other international magazines. Daize said she was born April 25, 1978 in Ukiah, CA. She said, "My full name is Sarah Rose Shayne, but Daize is the nickname that's stuck." She is married.</p>

            </div>
        </div>
      </div>
   </div>
}
