@(message: String)

@Main("John") {
   <div class="container">
      <div class="row">
        
        <div class="col-md-4">
          <div class="well">
            <div class="john"></div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="well">
            <h1>John Florence</h1>
            <p>John John Florence , the oldest of three children, grew up in Hale'iwa, in an ocean-side house at the Banzai Pipeline. He resides with his mother, Alexandra, and his two younger brothers Nathan and Ivan. He was introduced to surfing by Alexandra, who is a surfer herself. Florence claims he rode a surf board at the age of six months, wearing a life vest on his father John's board; he was riding on his own by the age of three.</p>


            </div>
        </div>
      </div>
}
