@(surferForm: Form[views.formdata.SurferFormData], typeMap: Map[String, Boolean], surfers: List[Surfer], disableSlug: Boolean, footStyles: List[String])

@import helper._
@import bootstrap3._

@Main(surfers) {
 <div class="container">
  @form(routes.Application.postSurfer(), 'class -> "form-horizontal") {
       
  @bootstrap3.text(surferForm("name"),
        label = "Name",
        placeholder = "Kelly Slater",
        help = "The name of the surfer.")
        
  @text(surferForm("home"),
        label = "Home",
        placeholder = "Cocoa Beach, Florida",
        help = "Where the surfer hails from.")
        
  @text(surferForm("awards"),
        label = "Awards",
        placeholder = "ASP World Tour Chamption (11 times), Boost Mobile Pro (1st Place, 2007)",
        help = "List titles and other surfing awards.")
  
  @radiobuttons(surferForm("footStyle"),
              label = "Foot style",
              buttonNameList = footStyles,
              help = "Select the surfer's foot style.")
                      
  @text(surferForm("carouselURL"),
        label = "Carousel URL",
        placeholder = "http://example.com/picture.jpg",
        help = "A URL to the picture to be preserved in teh home page carousel for the surfer.")        
        
  @text(surferForm("bioURL"),
        label = "Bio URL",
        placeholder = "http://example.com/picture.jpg",
        help = "A URL to the picture to be preserved in the bio page for the surfer.")

  @textArea(surferForm("bio"),
        rows = "5",
        label = "Bio",
        placeholder = "Bio statement goes here.",
        help = "One paragraph description of the surfer.")

  @slug(surferForm("slug"),
        label = "Slug",
        placeholder = "tempslug",
        help = "Letters and digits to be used to identify this surfer in URLs, i.e. http://surferpedia.com/surfer/kellyslater",
        disable = disableSlug)

  <!-- Stores the slug value when the slug form text box is disabled -->
  @hidden(surferForm("slug"))
  
  <!-- Assigns the newlyCreated boolean to make sure to allow edits to be done -->
  @hidden(surferForm("newlyCreated"))
  
  @bootstrap3.select(surferForm("type"),
        label = "Type",
        optionMap = typeMap,
        isMultiple = false,
        help = "The type of surfer for placement in the menu.")
      
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>          
  } 
 </div>
}
