@(surfer: Surfer, surfers: List[Surfer])

@Main(surfers) {
   <div class="container">
      <div class="row">
        <div class="well col-md-4">
          <div class="surferBioPic" style="background:url(@surfer.getBioURL());background-size:cover;"></div>
        </div>
        <div class="well col-md-8">
          <h1>@surfer.getName()</h1>
          <b>Home: </b>@surfer.getHome()<br><br>
          <b>Awards: </b>@surfer.getAwards()<br><br>
          <b>Biography: </b>@surfer.getBio()<br><br>
          <div id="bar">
            <li><a href="@routes.Application.manageSurfer(surfer.getSlug())">Edit</a></li>
          </div>
          <div id="bar2">
            <li><a href="@routes.Application.deleteSurfer(surfer.getSlug())">Delete</a></li>
          </div>
         </div>
      </div>
   </div>
}
